@import "../../scss/variables.scss";

header {
  background: $gray;
  color: $white;

  .logo {
    width: 80px;
  }

  .logout {
    &:hover {
      text-decoration: none;
    }
  }
} // header

/* Medium and up */
@media (min-width: 768px) {
  header {
    .logout {
      &:before {
        content: "/";
        padding: 0 12px 0 7px;
      }
    }
  } // header
} // Medium
