<div class="restock-summary">
  <h5>
    Restock Summary
  </h5>
  <p class="line-height-normal">
    <small>
      The following replacement frames will be shipped to you
      within the next business day. Standard shipping rates apply.
    </small>
  </p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Frame</th>
          <th class="text-center">QTY</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- /.table-responsive -->
</div> <!-- /.invoice-summary -->