<div class="invoice-summary">
  <h5>
    Invoice Summary
  </h5>
  <p class="line-height-normal">
    <small>
      You will be invoiced for the following frames
      sold from your inventory. Prices listed are before
      applicable discounts, taxes and shipping.
    </small>
  </p>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Frame</th>
          <th class="text-center">QTY</th>
          <th class="text-center">PRICE*</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center"s>$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
        <tr>
          <td>A5031 52-17 Butterscotch Crystal</td>
          <td align="center">1</td>
          <td align="center">$45.00</td>
        </tr>
      </tbody>
    </table>
  </div> <!-- /.table-responsive -->
</div> <!-- /.invoice-summary -->