<div class="main-nav fixed-bottom">
  <div class="container">
    <div class="row text-center">
      <a class="col" routerLink="/home" routerLinkActive="active">
        Home
      </a>
      <a class="col" routerLink="/check" routerLinkActive="active">
        Check
      </a>
      <a class="col" routerLink="/review" routerLinkActive="active">
        Review
      </a>
      <a class="col disabled" routerLink="/submit" routerLinkActive="active">
        Submit
      </a>
   </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.main-nav -->