<div class="brand-top-nav mb-4">
  <div class="container">
    <div class="row align-items-end align-items-stretch">
      <div class="col d-flex d-md-none align-items-center py-1">
        <a class="pr-3 nav-toggle" (click)="clicked()">&#9776;</a>
        <p class="mb-0">
          Altair 00 of 00
        </p>
      </div> <!-- /.col -->
      <div class="col-12 pt-1 pt-md-0 pb-3 pb-md-0 d-md-block nav-container" *ngIf="show">
        <nav class="d-md-flex flex-wrap">
          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3 active" routerLink="/altair" routerLinkActive="active">
            <small class="font-weight-bold">
              Altair
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/anneklein" routerLinkActive="active">
            <small class="font-weight-bold">
              Anne Klein
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/bebe" routerLinkActive="active">
            <small class="font-weight-bold">
              bebe
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/calvinkleinjeans" routerLinkActive="active">
            <small class="font-weight-bold">
              Calvin Klein Jeans
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/colehaan" routerLinkActive="active">
            <small class="font-weight-bold">
              Cole Haan
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/genesis" routerLinkActive="active">
            <small class="font-weight-bold">
              Genesis
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/joejosephabboud" routerLinkActive="active">
            <small class="font-weight-bold">
              JOE Joseph Abboud
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/josephabboud" routerLinkActive="active">
            <small class="font-weight-bold">
              Joseph Abboud
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/kilter" routerLinkActive="active">
            <small class="font-weight-bold">
              Kilter
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/lentonandrusby" routerLinkActive="active">
            <small class="font-weight-bold">
              Lenton &amp; Rusby
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/otisandpiper" routerLinkActive="active">
            <small class="font-weight-bold">
              Otis &amp; Piper
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/revlon" routerLinkActive="active">
            <small class="font-weight-bold">
              Revlon
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/sunlites" routerLinkActive="active">
            <small class="font-weight-bold">
              Sunlites
            </small>
            <small>
              00 of 00
            </small>
          </a>

          <a class="d-flex align-items-center justify-content-between flex-md-column text-md-center justify-content-md-end py-1 pt-md-3" routerLink="/newbrand" routerLinkActive="active">
            <small class="font-weight-bold">
              New Brand
            </small>
            <small>
              00 of 00
            </small>
          </a>
        </nav>
      </div> <!-- /.col -->
    </div> <!-- /.row -->
  </div> <!-- /.container -->
</div> <!-- /.brand-nav -->